body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
p,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 400;
}
nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1f8a70;
  padding: 1em 1em;
}
nav h2 {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #1f8a70;
  color: #eff5f5;
  font-family: "Poppins", sans-serif;
  flex-wrap: wrap;
  font-size: 25px;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: #eff5f5;
  font-family: "Poppins", sans-serif;
  font-size: 400;
}
header {
  width: 100%;
  background-color: #00425a;
  margin-left: 0;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Belanosima", sans-serif;
  font-size: 700;
  color: #eff5f5;
  padding: 0;
  margin: 0;
  font-size: 45px;
}
img {
  margin: auto;
  width: 100%;
  text-align: center;
  border-radius: 1em;
}
main {
  background-color: rgba(252, 113, 0, 0.534);
}
section {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  row-gap: 1rem;
}
figure {
  border: 5px black solid;
  padding: 4px;
  margin: auto;
}
figcaption {
  font-family: "Poppins", sans-serif;
  font-size: 400;
  color: black;
}
footer {
  padding: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #00425a;
  color: #eff5f5;
}
ul{
  list-style: none;
}
li a{
  color: #eff5f5;
  font-family: "Poppins", sans-serif;
  font-size: 400;
}
nav h2:visited{
  color: black;
}
article{
  text-align: center;
}
div{
  text-align: center;
}
iframe{
  width: 10em;
  height: 10em;
  border: 3px solid black;
}
.icono{
  display: inline flex;
  height: 30px;
  width: 30px;
}

@media screen and (min-width: 768px){
  nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: #1f8a70;
    padding: 1em 1em;
  }
  nav h2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #1f8a70;
    color: #eff5f5;
    font-family: "Poppins", sans-serif;
    flex-wrap: wrap;
    font-size: 25px;
    text-align: center;
  }
  section {
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    column-gap: 1.rem;
  }
  figure{
    margin: 1em;
  }
  footer {
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #00425a;
    color: #eff5f5;
}
}